:root{
    /* cor vermelho */
    --cor: #932A3B;
}
.logo{
    background-image: url("../images/logocor2.png");
}
.slides .overlay:before{
    background: rgba(147, 42, 59, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* icone plus */
.plus{
    color: var(--cor, #932A3B);
    font-weight: bold;
}
/* background sobre */
.bgGreyDark{
    background-image: url('../images/background.png');
}
/* icone serviços rosa */
.expIco{
    background-image: url('../images/icon-servicos.png');
}
/* icone serviços rosa claro */
.exp.selected .expIco{
    background-image: url('../images/icon-servicos2.png');
}
/* serviços saiba mais  */
.expDet a{
    color: var(--cor, #932A3B);
}
/* barra retangular call to action */
.workBtn{ 
    background-color: var(--cor, #932A3B);
}
/* imagem esquerda call to action */
.servImg{
    background-image: url('../images/palestras.png');
}
/* imagem direita call to action */
.workImg{
    background-image: url('../images/psicologia-positiva.png');
}

/* descrição post */
.postMeta span.metaComments a{
    color: var(--cor, #932A3B);
}
/* botao post saiba mais */
.postLarge  a.more{
    background-color: var(--cor, #932A3B);
    color: #fff;
    border-color: var(--cor, #932A3B);
}

/* background color rosa */
.socials .overlay:before{
    background: rgba(147, 42, 59, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* over botao contato */
.contactForm #submit:hover{
    background-color: var(--cor, #932A3B);
}