:root{
    /* cor amarelo */
    --cor: #E4DF6E;
}

.logo{
    background-image: url("../images/logocor3.png");
}
.slides .overlay:before{
    background: rgba(228, 223, 110, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* icone plus */
.plus{
    color: var(--cor, #E4DF6E);
    font-weight: bold;
}
/* background sobre */
.bgGreyDark{
    background-image: url('../images/background.png');
}
/* icone serviços rosa */
.expIco{
    background-image: url('../images/icon-servicos.png');
}
/* icone serviços rosa claro */
.exp.selected .expIco{
    background-image: url('../images/icon-servicos2.png');
}
/* serviços saiba mais  */
.expDet a{
    color: var(--cor, #E4DF6E);
}
/* barra retangular call to action */
.workBtn{ 
    background-color: var(--cor, #E4DF6E);
}
/* imagem esquerda call to action */
.servImg{
    background-image: url('../images/palestras.png');
}
/* imagem direita call to action */
.workImg{
    background-image: url('../images/psicologia-positiva.png');
}

/* descrição post */
.postMeta span.metaComments a{
    color: var(--cor, #E4DF6E);
}
/* botao post saiba mais */
.postLarge  a.more{
    background-color: var(--cor, #E4DF6E);
    color: #fff;
    border-color: var(--cor, #E4DF6E);
}
/* background instagram */
.socials{
    background-image: url('../images/bg-paralax-insta.png');
}
/* background color rosa */
.socials .overlay:before{
    background: rgba(228, 223, 110, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* over botao contato */
.contactForm #submit:hover{
    background-color: var(--cor, #E4DF6E);
}