:root{
    /* cor azul claro */
    --cor: #6794C6;
}

.logo{
    background-image: url("../images/logo-azul-4.png");
}


/* .logomarca{
    background-image: url("../images/marca-azul-4.png");
} */

.slides .overlay:before{
    background: rgba(223, 85, 107, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* icone plus */
.plus{
    color: var(--cor, #6794C6);
    font-weight: bold;
}
/* background sobre */
.bgGreyDark{
    background-color: var(--cor, #6794C6);
}
/* icone serviços rosa */
.expIco{
    background-image: url('../images/icon-servicos.png');
}
/* icone serviços rosa claro */
.exp.selected .expIco{
    background-image: url('../images/icon-servicos2.png');
}
/* serviços saiba mais  */
.expDet a{
    color: var(--cor, #6794C6);
}
/* barra retangular call to action */
.workBtn{ 
    background-color: var(--cor, #6794C6);
}
/* imagem esquerda call to action */
.servImg{
    background-image: url('../images/palestras.png');
}
/* imagem direita call to action */
.workImg{
    background-image: url('../images/psicologia-positiva.png');
}

/* descrição post */
.postMeta span.metaComments a{
    color: var(--cor, #6794C6);
}
/* botao post saiba mais */
.postLarge  a.more{
    background-color: var(--cor, #6794C6);
    color: #fff;
    border-color: var(--cor, #6794C6);
}

/* background color rosa */
.socials .overlay:before{
    background: rgba(103, 148, 198, 0.5);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    left:0;
    top:0;
    z-index:0;
}
/* over botao contato */
.contactForm #submit:hover{
    background-color: var(--cor, #6794C6);
}